<!DOCTYPE HTML>
<html lang="pt-br" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Multiparametros</title>

        <!-- Importando o angular JS -->
        <script src="../angular.min.js"></script>
    </head>
    <body ng-controller="control">
        <input type="text" placeholder="Nome..." ng-model="contato.nome"/>
        <input type="number" placeholder="Idade..." ng-model="contato.idade"/>
        <input type="number" placeholder="Telefone..." ng-model="contato.telefone"/>
        <hr>
        <input type="button" value="Cadastrar" ng-click="cadastrar(contato)"/>
        <hr>
        <ul ng-repeat="cont in contatos">
            <li>Nome: {{cont.nome}}</li>
            <li>Idade: {{cont.idade}}</li>
            <li>Telefone {{cont.telefone}}</li>
        </ul>
        <script src="multiparam.controller.js"></script>
    </body>
</html>